body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    margin: 0;
}

.nav {
    background: #1e293b;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

a {
    color: #38bdf8;
    margin-left: 15px;
}

.container {
    padding: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 15px 0;
    border-radius: 12px;
}

input, button {
    padding: 10px;
    margin-top: 10px;
}